@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Fonts
*/

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("/fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("/fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"),
    url("/fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body {
  /* font-family: system-ui; */
  /* font-size: 1em;
  line-height: 1.5; */
  @apply text-textcolor bg-bgcolor;
}

a.active {
  @apply font-bold text-black;
}

/* 
  Layout 
*/

.sidebar {
  @apply px-4 mr-8;
}
