@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Fonts
*/

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"),
    url("./fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"),
    url("./fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("./fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"),
    url("./fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body {
  /* font-family: system-ui; */
  /* font-size: 1em;
  line-height: 1.5; */
  @apply text-textcolor bg-bgcolor;
}

nav a {
  @apply flex p-2 rounded capitalize;
} 

nav a.active {
  @apply font-bold text-black bg-white;
}

/* .sidebar {
  @apply mr-8;
} */

.sidebar-panel {
  @apply bg-white block border rounded;
}

.title {
  @apply font-semibold text-2xl text-black;
  @apply capitalize;
}

input::placeholder {
  @apply text-grey-6;
}

/* Icons */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  /* height: 1.5rem;
  width: 1.5rem; */
}
.icon-arrow-up {
  content: url('images/icons/arrow-up.svg')
}
.icon-arrow-left {
  content: url('images/icons/arrow-left.svg')
}
.icon-check {
  content: url('images/icons/check.svg')
}
.icon-lesson {
  content: url('images/icons/lesson.svg')
}
.icon-hometask {
  content: url('images/icons/hometask.svg')
}
.icon-login {
  content: url('images/icons/login.svg')
}
.icon-logout {
  content: url('images/icons/logout.svg')
}
.icon-password {
  content: url('images/icons/password.svg')
}
.icon-girl {
  content: url('images/icons/girl.png');
  width: 1.5rem;
}
